<li class="info-block__item info-block__item--shopping-cart js-info-block__item--onclick">
	<a href="_esports_shop-cart.html" class="info-block__link-wrapper">
		<svg role="img" class="df-icon df-icon--shopping-cart">
			<use xlink:href="{{../root}}assets/images/esports/icons-esports.svg#cart"/>
		</svg>
		<h6 class="info-block__heading">Your Bag (8 items)</h6>
		<span class="info-block__cart-sum">$256,30</span>
	</a>

	<!-- Dropdown Shopping Cart -->
	<ul class="header-cart header-cart--inventory">

		<li class="header-cart__item header-cart__item--title">
			<h5>Bag Inventory</h5>
		</li>

		{{#each esports.products.header-cart}}
		<li class="header-cart__item">
			<figure class="header-cart__product-thumb">
				<a href="_esports_shop-product.html">
					<img src="{{../root}}assets/images/esports/samples/{{thumb}}" alt="{{title}}">
				</a>
			</figure>
			<div class="header-cart__badges">
				{{#if count}}
				<span class="badge badge-primary">{{count}}</span>
				{{/if}}
				<span class="badge badge-default badge-close"><i class="fas fa-times"></i></span>
			</div>
		</li>
		{{/each}}

		<li class="header-cart__item">
			<figure class="header-cart__product-thumb"></figure>
		</li>
		<li class="header-cart__item">
			<figure class="header-cart__product-thumb"></figure>
		</li>
		<li class="header-cart__item">
			<figure class="header-cart__product-thumb"></figure>
		</li>
		<li class="header-cart__item">
			<figure class="header-cart__product-thumb"></figure>
		</li>
		<li class="header-cart__item">
			<figure class="header-cart__product-thumb"></figure>
		</li>

		<li class="header-cart__item header-cart__item--subtotal">
			<span class="header-cart__subtotal">Inventory Subtotal</span>
			<span class="header-cart__subtotal-sum">$256.30</span>
		</li>
		<li class="header-cart__item header-cart__item--action">
			<a href="_esports_shop-cart.html" class="btn btn-primary-inverse btn-block">Go to Shopping Cart</a>
			<a href="_esports_shop-checkout.html" class="btn btn-primary btn-block">Proceed to Checkout</a>
		</li>
	</ul>
	<!-- Dropdown Shopping Cart / End -->

</li>
