---
layout: esports
page-title: Match Overview
page-heading: "Match <span class=\"highlight\">Overview</span> v3"
megamenu: v3

breadcrumbs: [
	{
		label: "Teams",
		link: "#"
	},
	{
		label: "L.O. Heroes",
		link: "#"
	},
	{
		label: "Match"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<div class="row">
			<div class="col-lg-4">

				{{> _esports_widget-event-result }}

			</div>
			<div class="col-lg-8">

				<!-- Table: Event Results -->
				<div class="card card--has-table">
					<div class="card__header card__header--has-btn">
						<h4>Individual Stats</h4>
						<a class="btn btn-default btn-xs card-header__button btn-icon" href="#" title="Watch Replay"><i class="fas fa-play"></i> Watch Replay</a>
					</div>
					<div class="card__content">
						<div class="table-responsive">
							<table class="table table-hover table-stats alc-event-results-table">
								<thead>
									<tr>
										<th class="alc-event-results-cell__player text-left">Player</th>
										<th class="alc-event-results-cell__character text-left">Character</th>
										<th class="alc-event-results-cell__kills">K</th>
										<th class="alc-event-results-cell__deaths">D</th>
										<th class="alc-event-results-cell__assists">A</th>
										<th class="alc-event-results-cell__pkills">PKills</th>
										<th class="alc-event-results-cell__kdar">KDA.R</th>
										<th class="alc-event-results-cell__dmg-pct">DMG%</th>
										<th class="alc-event-results-cell__dpm">DPM</th>
										<th class="alc-event-results-cell__gold-pct">Gold%</th>
										<th class="alc-event-results-cell__mvp"></th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<th colspan="11" class="table-stats__subheading table-stats__subheading--highlight">{{esports.sp.event.stats.team1.name}}</th>
									</tr>
									{{#each esports.sp.event.stats.team1.players}}
									<tr>
										<td class="alc-event-results-cell__player text-left">
											<div class="alc-event-results-cell__player-info alc-img-object">
												<div class="alc-event-results-cell__player-img alc-img-object__img alc-img-object__img--hexagon alc-img-object__img--hexagon-sm">
													<img src="{{../root}}assets/images/esports/samples/{{player.avatar}}" alt="">
												</div>
												<div class="alc-event-results-cell__player-body alc-img-object__body">
													<h5 class="alc-event-results-cell__player-nickname alc-img-object__title">{{player.nickname}}</h5>
													<span class="alc-event-results-cell__player-name alc-img-object__desc">{{player.name}}</span>
												</div>
											</div>
										</td>
										<td class="alc-event-results-cell__character text-left">
											<div class="alc-event-results-cell__character-info alc-img-object">
												<div class="alc-event-results-cell__character-img alc-img-object__img alc-img-object__img--hexagon alc-img-object__img--hexagon-sm">
													<img src="{{../root}}assets/images/esports/samples/{{character.avatar}}" alt="">
												</div>
												<div class="alc-event-results-cell__character-body alc-img-object__body">
													<h5 class="alc-event-results-cell__character-name alc-img-object__title">{{character.name}}</h5>
													<span class="alc-event-results-cell__character-type alc-img-object__desc">{{character.type}}</span>
												</div>
											</div>
										</td>
										<td class="alc-event-results-cell__kills highlight">{{performances.kills}}</td>
										<td class="alc-event-results-cell__deaths highlight">{{performances.deaths}}</td>
										<td class="alc-event-results-cell__assists highlight">{{performances.assists}}</td>
										<td class="alc-event-results-cell__pkills">{{performances.pkills}}</td>
										<td class="alc-event-results-cell__kdar">{{performances.kda-r}}</td>
										<td class="alc-event-results-cell__dmg-pct">{{performances.dmg-pct}}</td>
										<td class="alc-event-results-cell__dpm">{{performances.dpm}}</td>
										<td class="alc-event-results-cell__gold-pct">{{performances.gold-pct}}</td>
										<td class="alc-event-results-cell__mvp">
											<div class="{{#unless featured}}alc-icon--disabled{{/unless}} alc-icon alc-icon--circle alc-icon--xs alc-icon--outline alc-icon--outline-md">
												<i class="fas fa-star"></i>
											</div>
										</td>
									</tr>
									{{/each}}

									<tr>
										<th colspan="11" class="table-stats__subheading table-stats__subheading--highlight-info">{{esports.sp.event.stats.team2.name}}</th>
									</tr>
									{{#each esports.sp.event.stats.team2.players}}
									<tr>
										<td class="alc-event-results-cell__player text-left">
											<div class="alc-event-results-cell__player-info alc-img-object">
												<div class="alc-event-results-cell__player-img alc-img-object__img alc-img-object__img--hexagon alc-img-object__img--hexagon-sm">
													<img src="{{../root}}assets/images/esports/samples/{{player.avatar}}" alt="">
												</div>
												<div class="alc-event-results-cell__player-body alc-img-object__body">
													<h5 class="alc-event-results-cell__player-nickname alc-img-object__title">{{player.nickname}}</h5>
													<span class="alc-event-results-cell__player-name alc-img-object__desc">{{player.name}}</span>
												</div>
											</div>
										</td>
										<td class="alc-event-results-cell__character text-left">
											<div class="alc-event-results-cell__character-info alc-img-object">
												<div class="alc-event-results-cell__character-img alc-img-object__img alc-img-object__img--hexagon alc-img-object__img--hexagon-sm">
													<img src="{{../root}}assets/images/esports/samples/{{character.avatar}}" alt="">
												</div>
												<div class="alc-event-results-cell__character-body alc-img-object__body">
													<h5 class="alc-event-results-cell__character-name alc-img-object__title">{{character.name}}</h5>
													<span class="alc-event-results-cell__character-type alc-img-object__desc">{{character.type}}</span>
												</div>
											</div>
										</td>
										<td class="alc-event-results-cell__kills highlight">{{performances.kills}}</td>
										<td class="alc-event-results-cell__deaths highlight">{{performances.deaths}}</td>
										<td class="alc-event-results-cell__assists highlight">{{performances.assists}}</td>
										<td class="alc-event-results-cell__pkills">{{performances.pkills}}</td>
										<td class="alc-event-results-cell__kdar">{{performances.kda-r}}</td>
										<td class="alc-event-results-cell__dmg-pct">{{performances.dmg-pct}}</td>
										<td class="alc-event-results-cell__dpm">{{performances.dpm}}</td>
										<td class="alc-event-results-cell__gold-pct">{{performances.gold-pct}}</td>
										<td class="alc-event-results-cell__mvp">
											<div class="{{#unless featured}}alc-icon--disabled{{/unless}} alc-icon alc-icon--circle alc-icon--xs alc-icon--outline alc-icon--outline-md">
												<i class="fas fa-star"></i>
											</div>
										</td>
									</tr>
									{{/each}}

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- Table: Event Results / End -->

			</div>
		</div>

	</div>
</div>

<!-- Content / End -->
