---
layout: esports
page-title: Match Overview V1-B
page-heading: "Match <span class=\"highlight\">Overview</span> v1-B"
megamenu: v3

breadcrumbs: [
	{
		label: "Teams",
		link: "#"
	},
	{
		label: "L.O. Heroes",
		link: "#"
	},
	{
		label: "Match"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<!-- ALC Event Result -->
		<div class="alc-event-result-box card card--no-paddings">

			<!-- Header -->
			<header class="alc-event-result-box__header alc-event-result-box__header--side card__header card__header--no-highlight">
				<div class="alc-event-result-box__header-date">Saturday, March 6th</div>
				<div class="alc-event-result-box__header-heading">
					<h5 class="alc-event-result-box__header-title">Striker Go West Bay League</h5>
					<span class="alc-event-result-box__header-subtitle">Semi-Finals - Week 2</span>
				</div>
				<div class="alc-event-result-box__header-venue">9:00 PM EST, Shenlong Arena</div>
			</header>
			<!-- Header / End -->

			<!-- Team & Result -->
			<div class="alc-event-result-box__content card__content">

				<div class="alc-event-result-box__teams alc-event-result-box__teams--board">

					<!-- Teams Wrapper -->
					<div class="alc-event-result-box__teams-wrapper">
						<!-- Team #1 -->
						<div class="alc-event-result-box__team alc-event-result-box__team--first">
							<div class="alc-event-result-box__team-body">
								<figure class="alc-event-result-box__team-logo">
									<img src="{{../root}}assets/images/esports/logos/alchemists-60x69.png" alt="">
								</figure>
								<div class="alc-event-result-box__team-meta">
									<h5 class="alc-event-result-box__team-name">The Alchemists</h5>
									<span class="alc-event-result-box__team-subtitle">United States</span>
								</div>
							</div>
						</div>
						<!-- Team #1 / End -->

						<!-- Team #2 -->
						<div class="alc-event-result-box__team alc-event-result-box__team--second">
							<div class="alc-event-result-box__team-body">
								<figure class="alc-event-result-box__team-logo">
									<img src="{{../root}}assets/images/esports/logos/sharks-72x62.png" alt="">
								</figure>
								<div class="alc-event-result-box__team-meta">
									<h5 class="alc-event-result-box__team-name">Sharks</h5>
									<span class="alc-event-result-box__team-subtitle">South Korea</span>
								</div>
							</div>
						</div>
						<!-- Team #2 / End -->
					</div>
					<!-- Teams Wrapper / End -->

					<!-- Score -->
					<div class="alc-event-result-box__team-score">
						<div class="alc-event-result-box__team-score-row">
							<div class="alc-event-result-box__team-score-cell cell-highlight">16</div>
							<div class="alc-event-result-box__team-score-cell cell-highlight">14</div>
							<div class="alc-event-result-box__team-score-cell">11</div>
							<div class="alc-event-result-box__team-score-cell cell-result">2</div>
						</div>
						<div class="alc-event-result-box__team-score-row">
							<div class="alc-event-result-box__team-score-cell">12</div>
							<div class="alc-event-result-box__team-score-cell">9</div>
							<div class="alc-event-result-box__team-score-cell cell-highlight">17</div>
							<div class="alc-event-result-box__team-score-cell cell-result">1</div>
						</div>
					</div>
					<!-- Score / End -->

				</div>

			</div>
			<!-- Team & Result / End -->

			<!-- Tabs -->
			<footer class="alc-event-result-box__footer card__footer">
				<ul class="alc-event-result-box__tabs list-unstyled">
					<li class="alc-event-result-box__tab active">
						<a href="#" class="alc-event-result-box__tab-link">
							<span class="alc-event-result-box__tab-subtitle">Overview</span>
							<span class="alc-event-result-box__tab-title">First Game</span>
						</a>
					</li>
					<li class="alc-event-result-box__tab">
						<a href="#" class="alc-event-result-box__tab-link">
							<span class="alc-event-result-box__tab-subtitle">Overview</span>
							<span class="alc-event-result-box__tab-title">Second Game</span>
						</a>
					</li>
					<li class="alc-event-result-box__tab">
						<a href="#" class="alc-event-result-box__tab-link">
							<span class="alc-event-result-box__tab-subtitle">Overview</span>
							<span class="alc-event-result-box__tab-title">Third Game</span>
						</a>
					</li>
				</ul>
			</footer>
			<!-- Tabs / End -->

		</div>
		<!-- ALC Event Result / End -->

		<div class="row">

			<div class="col-lg-8">

				<!-- Team Lineups -->
				<div class="card card--no-paddings">
					<header class="card__header">
						<h4>Team Lineups</h4>
					</header>
					<div class="card__content">

						<!-- Team Lineup -->
						<div class="alc-event-lineup alc-event-lineup--style1">

							<!-- Header -->
							<header class="alc-event-lineup__header">
								<div class="alc-event-lineup__team alc-event-lineup__team--first">
									<img src="{{esports.sp.event1.b.lineup.team1.logo}}" alt="" class="alc-event-lineup__team-logo">
									<div class="alc-event-lineup__team-meta">
										<h6 class="alc-event-lineup__team-name">{{esports.sp.event1.b.lineup.team1.name}}</h6>
										<span class="alc-event-lineup__team-desc">{{esports.sp.event1.b.lineup.team1.place}}</span>
									</div>
								</div>
								<div class="alc-event-lineup__team alc-event-lineup__team--second">
									<img src="{{esports.sp.event1.b.lineup.team2.logo}}" alt="" class="alc-event-lineup__team-logo">
									<div class="alc-event-lineup__team-meta">
										<h6 class="alc-event-lineup__team-name">{{esports.sp.event1.b.lineup.team2.name}}</h6>
										<span class="alc-event-lineup__team-desc">{{esports.sp.event1.b.lineup.team2.place}}</span>
									</div>
								</div>
							</header>
							<!-- Header / End -->

							<!-- Statistics -->
							<div class="table-responsive">
								<table class="table table-thead-color table-top-border table-stats alc-event-lineup__stats alc-event-lineup__stats--style1">
									<thead>
										<tr>
											<th class="alc-event-lineup-stat__player-cell text-left">Team Player</th>
											<th class="alc-event-lineup-stat__kills">K</th>
											<th class="alc-event-lineup-stat__deaths">D</th>
											<th class="alc-event-lineup-stat__assists">A</th>
											<th class="alc-event-lineup-stat__kda">KDA.R</th>

											<th class="alc-event-lineup-stat__spacer"></th>

											<th class="alc-event-lineup-stat__kda">KDA.R</th>
											<th class="alc-event-lineup-stat__assists">A</th>
											<th class="alc-event-lineup-stat__deaths">D</th>
											<th class="alc-event-lineup-stat__kills">K</th>
											<th class="alc-event-lineup-stat__player-cell text-right">Team Player</th>
										</tr>
									</thead>
									<tbody>

										{{#each esports.sp.event1.b.lineup.stats}}
										<tr>

											<!-- Team 1 Player -->
											<td class="alc-event-lineup-stat__player-cell text-left">
												<div class="alc-event-lineup-stat__player">
													<div class="alc-event-lineup-stat__player-inner">
														<figure class="alc-event-lineup-stat__thumb alc-event-lineup-stat__thumb--color-primary alc-event-lineup-stat__thumb--hexagon">
															<img src="{{player1.thumb}}" alt="{{player1.name}}">
														</figure>
													</div>
													<div class="alc-event-lineup-stat__meta">
														<h6 class="alc-event-lineup-stat__nickname">{{player1.nickname}}</h6>
														<div class="alc-event-lineup-stat__desc alc-event-lineup-stat__desc--sm">
															<span class="alc-event-lineup-stat__desc-item">{{player1.name}}</span>
														</div>
													</div>
												</div>
											</td>
											<td class="alc-event-lineup-stat__kills highlight">{{player1.stat.kills}}</td>
											<td class="alc-event-lineup-stat__deaths highlight">{{player1.stat.deaths}}</td>
											<td class="alc-event-lineup-stat__assists highlight">{{player1.stat.assists}}</td>
											<td class="alc-event-lineup-stat__kda highlight">{{player1.stat.kda}}</td>
											<!-- Team 1 Player / End -->

											<th class="alc-event-lineup-stat__spacer"></th>

											<!-- Team 2 Player -->
											<td class="alc-event-lineup-stat__kda highlight">{{player2.stat.kda}}</td>
											<td class="alc-event-lineup-stat__assists highlight">{{player2.stat.assists}}</td>
											<td class="alc-event-lineup-stat__deaths highlight">{{player2.stat.deaths}}</td>
											<td class="alc-event-lineup-stat__kills highlight">{{player2.stat.kills}}</td>
											<td class="alc-event-lineup-stat__player-cell text-right">
												<div class="alc-event-lineup-stat__player">
													<div class="alc-event-lineup-stat__player-inner">
														<figure class="alc-event-lineup-stat__thumb alc-event-lineup-stat__thumb--color-info alc-event-lineup-stat__thumb--hexagon">
															<img src="{{player2.thumb}}" alt="{{player2.nickname}}">
														</figure>
													</div>
													<div class="alc-event-lineup-stat__meta">
														<h6 class="alc-event-lineup-stat__nickname">{{player2.nickname}}</h6>
														<div class="alc-event-lineup-stat__desc alc-event-lineup-stat__desc--sm">
															<span class="alc-event-lineup-stat__desc-item">{{player2.name}}</span>
														</div>
													</div>
												</div>
											</td>
											<!-- Team 2 Player / End -->

										</tr>
										{{/each}}

									</tbody>
								</table>
							</div>
							<!-- Statistics / End -->

						</div>
						<!-- Team Lineup / End -->
					</div>
				</div>
				<!-- Team Lineups / End -->

				{{> _esports_widget-video btn="true" id="iH0wacpNuDQ" thumbnail="assets/images/esports/samples/event-video2-cover-md.jpg"}}

			</div>

			<div class="col-lg-4">

				{{> _esports_widget-event-1b-result }}

			</div>

		</div>


	</div>
</div>

<!-- Content / End -->
