---
layout: esports
page-title: Shop
page-heading: "Our <span class=\"highlight\">Shop</span>"
megamenu: v3

breadcrumbs: [
	{
		label: "Shop",
		link: "#"
	},
	{
		label: "Full width"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<!-- Shop Grid -->
		<div class="card card--clean">
			<header class="card__header card__header--shop-filter">

				{{> _esports_shop-filter }}

			</header>
			<div class="card__content">

				<!-- Products -->
				<ul class="products products--grid products--grid-4 products--grid-simple">

					{{#each esports.products.shop}}
					<!-- Product #{{@key}} -->
					<li class="product__item">

						<div class="product__img">
							{{#if onsale}}
							<span class="onsale">Sale!</span>
							{{/if}}
							<div class="product__thumb">
								<img src="{{../root}}assets/images/esports/samples/{{img}}" alt="">
							</div>
							<div class="product__overlay">
								<div class="product__btns">
									<a href="_esports_shop-cart.html" class="btn btn-primary-inverse btn-block btn-icon"><i class="icon-bag"></i> Add to your bag</a>
									<a href="_esports_shop-wishlist.html" class="btn btn-primary btn-block btn-icon"><i class="icon-heart"></i> Add to wishlist</a>
								</div>
							</div>
						</div>

						<div class="product__content card__content">
							<div class="product__header">
								<div class="product__header-inner">
									<h2 class="product__title"><a href="_esports_shop-product.html">{{title}}</a></h2>
									<div class="product__ratings">
										{{#repeat rating.full}}
										<i class="fas fa-star"></i>
										{{/repeat}}
										{{#repeat rating.empty}}
										<i class="fas fa-star empty"></i>
										{{/repeat}}
									</div>
									<div class="product__price">
										{{#if onsale}}
											<del>{{price.old}}</del>
											<ins>{{price.new}}</ins>
										{{else}}
											{{price}}
										{{/if}}
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- Product #{{@key}} / End -->
					{{/each}}

				</ul>
				<!-- Products / End -->
			</div>
		</div>
		<!-- Shop Grid / End -->

		{{> _esports_shop-pagination custom-class="justify-content-center"}}

	</div>
</div>

<!-- Content / End -->
