<!-- Header
================================================== -->

<!-- Header Mobile -->
<div class="header-mobile clearfix" id="header-mobile">
	<div class="header-mobile__logo">
		<a href="_football_index.html"><img src="{{../root}}assets/images/football/logo.png" srcset="{{../root}}assets/images/football/logo@2x.png 2x" alt="Alchemists" class="header-mobile__logo-img"></a>
	</div>
	<div class="header-mobile__inner">
		<a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
		<span class="header-mobile__search-icon" id="header-mobile__search-icon"></span>
	</div>
</div>

<!-- Header Desktop -->
<header class="header header--layout-2">

	<!-- Header Top Bar -->
	<div class="header__top-bar clearfix">
		<div class="container">
			<div class="header__top-bar-inner">
				<!-- Account Navigation -->
				<ul class="nav-account">
					<li class="nav-account__item"><a href="_football_shop-account.html">Your Account</a></li>
					<li class="nav-account__item nav-account__item--wishlist"><a href="_football_shop-wishlist.html">Wishlist <span class="highlight">8</span></a></li>
					<li class="nav-account__item"><a href="#">Currency: <span class="highlight">USD</span></a>
						<ul class="main-nav__sub">
							<li><a href="#">USD</a></li>
							<li><a href="#">EUR</a></li>
							<li><a href="#">GBP</a></li>
						</ul>
					</li>
					<li class="nav-account__item"><a href="#">Language: <span class="highlight">EN</span></a>
						<ul class="main-nav__sub">
							<li><a href="#">English</a></li>
							<li><a href="#">Spanish</a></li>
							<li><a href="#">French</a></li>
							<li><a href="#">German</a></li>
						</ul>
					</li>
					<li class="nav-account__item nav-account__item--logout"><a href="_football_shop-login.html">Logout</a></li>
				</ul>
				<!-- Account Navigation / End -->
			</div>
		</div>
	</div>
	<!-- Header Top Bar / End -->

	<!-- Header Secondary -->
	<div class="header__secondary">
		<div class="container">

			<ul class="info-block info-block--header">
				<li class="info-block__item info-block__item--contact-primary">
					<svg role="img" class="df-icon df-icon--football-helmet">
						<use xlink:href="{{../root}}assets/images/football/icons-football.svg#football-helmet"/>
					</svg>
					<h6 class="info-block__heading">Join Our Team!</h6>
					<a class="info-block__link" href="mailto:{{football.contact-info.email-1}}">{{football.contact-info.email-1}}</a>
				</li>
				<li class="info-block__item info-block__item--contact-secondary">
					<svg role="img" class="df-icon df-icon--football-ball">
						<use xlink:href="{{../root}}assets/images/football/icons-football.svg#football-ball"/>
					</svg>
					<h6 class="info-block__heading">Contact Us</h6>
					<a class="info-block__link" href="mailto:{{football.contact-info.email-2}}">{{football.contact-info.email-2}}</a>
				</li>
				<li class="info-block__item info-block__item--shopping-cart js-info-block__item--onhover">
					<a href="#" class="info-block__link-wrapper">
						<div class="df-icon-stack df-icon-stack--bag">
							<svg role="img" class="df-icon df-icon--bag">
								<use xlink:href="{{../root}}assets/images/icons-basket.svg#bag"/>
							</svg>
							<svg role="img" class="df-icon df-icon--bag-handle">
								<use xlink:href="{{../root}}assets/images/icons-basket.svg#bag-handle"/>
							</svg>
						</div>
						<h6 class="info-block__heading">Your Bag (8 items)</h6>
						<span class="info-block__cart-sum">$256,30</span>
					</a>

					<!-- Dropdown Shopping Cart -->
					<ul class="header-cart">

						{{#each football.products.header-cart}}
						<li class="header-cart__item">
							<figure class="header-cart__product-thumb">
								<a href="_football_shop-product.html">
									<img src="{{../root}}assets/images/samples/{{thumb}}" alt="">
								</a>
							</figure>
							<div class="header-cart__inner">
								<h5 class="header-cart__product-name"><a href="_football_shop-product.html">{{title}}</a></h5>
								<span class="header-cart__product-cat">{{category}}</span>
								<div class="header-cart__product-ratings">
									{{#repeat rating.full}}
									<i class="fas fa-star"></i>
									{{/repeat}}
									{{#repeat rating.empty}}
									<i class="fas fa-star empty"></i>
									{{/repeat}}
								</div>
								<div class="header-cart__product-sum">
									<span class="header-cart__product-price">{{price}}</span> x <span class="header-cart__product-count">{{count}}</span>
								</div>
								<div class="fas fa-times header-cart__close"></div>
							</div>
						</li>
						{{/each}}

						<li class="header-cart__item header-cart__item--subtotal">
							<span class="header-cart__subtotal">Cart Subtotal</span>
							<span class="header-cart__subtotal-sum">$282.00</span>
						</li>
						<li class="header-cart__item header-cart__item--action">
							<a href="_football_shop-cart.html" class="btn btn-default btn-block">Go to Cart</a>
							<a href="_football_shop-checkout.html" class="btn btn-primary-inverse btn-block">Checkout</a>
						</li>
					</ul>
					<!-- Dropdown Shopping Cart / End -->

				</li>
			</ul>

			<!-- Banner 420x60 -->
			<div class="header-banner">
				<a href="#"><img src="assets/images/football/banner-420x60.jpg" alt=""></a>
			</div>
			<!-- Banner 420x60 / End -->

		</div>
	</div>
	<!-- Header Secondary / End -->

	<!-- Header Primary -->
	<div class="header__primary">
		<div class="container">
			<div class="header__primary-inner">

				<!-- Header Logo -->
				<div class="header-logo">
					<a href="_football_index.html"><img src="assets/images/football/logo.png" srcset="assets/images/football/logo@2x.png 2x" alt="Alchemists" class="header-logo__img"></a>
				</div>
				<!-- Header Logo / End -->

				<!-- Main Navigation -->
				<nav class="main-nav clearfix">
					<ul class="main-nav__list">
						<li class="{{#ifpage '_football_index' '_football_index-2'}}active{{/ifpage}}"><a href="_football_index.html">Home</a>
							<ul class="main-nav__sub">
								<li class="{{#ifpage '_football_index'}}active{{/ifpage}}"><a href="_football_index.html">Home - version 1</a></li>
								<li class="{{#ifpage '_football_index-2'}}active{{/ifpage}}"><a href="_football_index-2.html">Home - version 2</a></li>
							</ul>
						</li>
						<li class="{{#ifpage '_football_features-shortcodes' '_football_features-typography' '_football_features-widgets-blog' '_football_features-widgets-shop' '_football_features-widgets-sports' '_football_features-404' '_football_features-search-results' '_football_page-contacts' '_football_page-sponsors'}}active{{/ifpage}}"><a href="#">Features</a>
							<div class="main-nav__megamenu clearfix">
								<ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
									<li class="main-nav__title">Features</li>
									<li><a href="_football_features-shortcodes.html">Shortcodes</a></li>
									<li><a href="_football_features-typography.html">Typography</a></li>
									<li><a href="_football_features-widgets-blog.html">Widgets - Blog</a></li>
									<li><a href="_football_features-widgets-shop.html">Widgets - Shop</a></li>
									<li><a href="_football_features-widgets-sports.html">Widgets - Sports</a></li>
									<li><a href="_football_features-404.html">404 Error Page</a></li>
									<li><a href="_football_features-search-results.html">Search Results</a></li>
									<li><a href="_football_page-contacts.html">Contact Us</a></li>
								</ul>
								<ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
									<li class="main-nav__title">Other Pages</li>
									<li><a href="_football_page-sponsors.html">Sponsors</a></li>
									<li><a href="_football_page-faqs.html">FAQs</a></li>
									<li><a href="_football_staff-single.html">Staff Member</a></li>
									<li><a href="_football_shop-list.html">Shop Page</a></li>
									<li><a href="_football_event-tournament.html">Tournament</a></li>
									<li><a href="_football_shop-cart.html">Shopping Cart</a></li>
									<li><a href="_football_shop-wishlist.html">Wishlist</a></li>
									<li><a href="_football_shop-checkout.html">Checkout</a></li>
								</ul>
								<div class="col-lg-4 col-md-3 col-12">
									<ul class="posts posts--simple-list">
										{{#each football.posts.megamenu-posts}}
										<li class="posts__item posts__item--{{category.class}}">
											<figure class="posts__thumb">
												<a href="#"><img src="{{../root}}assets/images/{{thumb}}" alt=""></a>
											</figure>
											<div class="posts__inner">
												<div class="posts__cat">
													<span class="label posts__cat-label">{{category.name}}</span>
												</div>
												<h6 class="posts__title"><a href="#">{{title}}</a></h6>
												<time datetime="2016-08-21" class="posts__date">{{date}}</time>
											</div>
										</li>
										{{/each}}
									</ul>
								</div>
								<div class="col-lg-4 col-md-3 col-12">

									<div class="posts posts--tile">
										<div class="posts__item posts__item--tile posts__item--category-2 card">
											<figure class="posts__thumb effect-duotone effect-duotone--base">
												<img src="{{../root}}assets/images/football/samples/post-img2-tile-sm.jpg" alt="">
											</figure>
											<a href="#" class="posts__cta"></a>
											<div class="posts__inner">
												<div class="posts__cat">
													<span class="label posts__cat-label">Injuries</span>
												</div>
												<h6 class="posts__title"><a href="#">Jennifer T. Danvers has a sprained wrist and will be out for eight games</a></h6>
												<time datetime="2017-09-14" class="posts__date">September 14th, 2017</time>
												<footer class="posts__footer card__footer">
													<div class="post-author">
														<figure class="post-author__avatar">
															<img src="{{../root}}assets/images/football/samples/avatar-6-xs.jpg" alt="Post Author Avatar">
														</figure>
														<div class="post-author__info">
															<h4 class="post-author__name">Ginny Valentine</h4>
														</div>
													</div>
													<ul class="post__meta meta">
														<li class="meta__item meta__item--views">2369</li>
														<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
														<li class="meta__item meta__item--comments"><a href="#">18</a></li>
													</ul>
												</footer>
											</div>
										</div>
									</div>

								</div>
							</div>
						</li>
						<li class="{{#ifpage '_football_team-overview' '_football_team-roster' '_football_team-standings' '_football_team-last-results' '_football_team-schedule' '_football_team-gallery' '_football_team-gallery' '_football_team-gallery-album' '_football_staff-single'}}active{{/ifpage}}"><a href="#">The Team</a>
							<ul class="main-nav__sub">
								<li><a href="_football_team-overview.html">Team</a>
									<ul class="main-nav__sub-2">
										<li><a href="_football_team-overview.html">Overview</a></li>
										<li><a href="_football_team-roster.html">Roster</a></li>
										<li><a href="_football_team-standings.html">Standings</a></li>
										<li><a href="_football_team-last-results.html">Latest Results</a></li>
										<li><a href="_football_team-schedule.html">Schedule</a></li>
										<li><a href="_football_team-gallery.html">Gallery</a>
											<ul class="main-nav__sub-2">
												<li><a href="_football_team-gallery-album.html">Single Album</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="_football_staff-single.html">Staff Member</a></li>
								<li><a href="_football_event-overview.html">Event &nbsp; <span class="label label-danger">New</span></a>
									<ul class="main-nav__sub-2">
										{{#each football.sp.event.nav}}
										<li class="{{#ifpage url}}active{{/ifpage}}"><a href="{{url}}.html">{{title}}</a></li>
										{{/each}}
									</ul>
								</li>
								<li><a href="_football_event-tournament.html">Tournament</a></li>
							</ul>
						</li>
						<li class="{{#ifpage '_football_player-overview' '_football_player-stats' '_football_player-bio' '_football_player-news' '_football_player-gallery'}}active{{/ifpage}}"><a href="_football_player-overview.html">Player</a>
							<ul class="main-nav__sub">
								<li class="{{#ifpage '_football_player-overview'}}active{{/ifpage}}"><a href="_football_player-overview.html">Overview</a></li>
								<li class="{{#ifpage '_football_player-stats'}}active{{/ifpage}}"><a href="_football_player-stats.html">Full Statistics</a></li>
								<li class="{{#ifpage '_football_player-bio'}}active{{/ifpage}}"><a href="_football_player-bio.html">Biography</a></li>
								<li class="{{#ifpage '_football_player-news'}}active{{/ifpage}}"><a href="_football_player-news.html">Related News</a></li>
								<li class="{{#ifpage '_football_player-gallery'}}active{{/ifpage}}"><a href="_football_player-gallery.html">Gallery</a></li>
							</ul>
						</li>
						<li class="{{#ifpage '_football_blog-1' '_football_blog-2' '_football_blog-3' '_football_blog-4' '_football_blog-5' '_football_blog-post-1' '_football_blog-post-2' '_football_blog-post-3'}}active{{/ifpage}}"><a href="_football_blog-1.html">News</a>
							<ul class="main-nav__sub">
								<li class="{{#ifpage '_football_blog-1'}}active{{/ifpage}}"><a href="_football_blog-1.html">News - version 1</a></li>
								<li class="{{#ifpage '_football_blog-2'}}active{{/ifpage}}"><a href="_football_blog-2.html">News - version 2</a></li>
								<li class="{{#ifpage '_football_blog-3'}}active{{/ifpage}}"><a href="_football_blog-3.html">News - version 3</a></li>
								<li class="{{#ifpage '_football_blog-4'}}active{{/ifpage}}"><a href="_football_blog-4.html">News - version 4</a></li>
								<li class="{{#ifpage '_football_blog-5'}}active{{/ifpage}}"><a href="_football_blog-5.html">News - version 5</a></li>
								<li><a href="#">Post</a>
									<ul class="main-nav__sub-2">
										<li class="{{#ifpage '_football_post-1'}}active{{/ifpage}}"><a href="_football_blog-post-1.html">Single Post - version 1</a></li>
										<li class="{{#ifpage '_football_post-2'}}active{{/ifpage}}"><a href="_football_blog-post-2.html">Single Post - version 2</a></li>
										<li class="{{#ifpage '_football_post-3'}}active{{/ifpage}}"><a href="_football_blog-post-3.html">Single Post - version 3</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="{{#ifpage '_football_shop-grid' '_football_shop-list' '_football_shop-fullwidth' '_football_shop-product' '_football_shop-cart' '_football_shop-checkout' '_football_shop-wishlist' '_football_shop-login' '_football_shop-account'}}active{{/ifpage}}"><a href="_football_shop-grid.html">Shop</a>
							<ul class="main-nav__sub">
								<li class="{{#ifpage '_football_shop-grid'}}active{{/ifpage}}"><a href="_football_shop-grid.html">Shop - Grid</a></li>
								<li class="{{#ifpage '_football_shop-list'}}active{{/ifpage}}"><a href="_football_shop-list.html">Shop - List</a></li>
								<li class="{{#ifpage '_football_shop-fullwidth'}}active{{/ifpage}}"><a href="_football_shop-fullwidth.html">Shop - Full Width</a></li>
								<li class="{{#ifpage '_football_shop-product'}}active{{/ifpage}}"><a href="_football_shop-product.html">Single Product</a></li>
								<li class="{{#ifpage '_football_shop-cart'}}active{{/ifpage}}"><a href="_football_shop-cart.html">Shopping Cart</a></li>
								<li class="{{#ifpage '_football_shop-checkout'}}active{{/ifpage}}"><a href="_football_shop-checkout.html">Checkout</a></li>
								<li class="{{#ifpage '_football_shop-wishlist'}}active{{/ifpage}}"><a href="_football_shop-wishlist.html">Wishlist</a></li>
								<li class="{{#ifpage '_football_shop-login'}}active{{/ifpage}}"><a href="_football_shop-login.html">Login</a></li>
								<li class="{{#ifpage '_football_shop-account'}}active{{/ifpage}}"><a href="_football_shop-account.html">Account</a></li>
							</ul>
						</li>
					</ul>

					<!-- Header Search Form -->
					<div class="header-search-form header-search-form--right">
						<form action="#" id="mobile-search-form" class="search-form">
							<input type="text" class="form-control header-mobile__search-control" value="" placeholder="Enter your search here...">
							<button type="submit" class="header-mobile__search-submit"><i class="fas fa-search"></i></button>
						</form>
					</div>
					<!-- Header Search Form / End -->

				</nav>
				<!-- Main Navigation / End -->

			</div>
		</div>
	</div>
	<!-- Header Primary / End -->

</header>
<!-- Header / End -->
