<!-- Widget: Match Leaders -->
<aside class="widget widget--sidebar card card--has-table alc-widget-event-leaders">
	<div class="widget__title card__header {{#if has-btn}}card__header--has-btn{{/if}}">
		<h4>Match Leaders</h4>
		{{#if has-btn}}<a href="#" class="btn btn-default btn-xs card-header__button">Full Box Score</a>{{/if}}
	</div>
	<div class="widget__content card__content">
		<div class="table-responsive">
			<table class="table alc-event-leader alc-event-leader--hor">

				{{#each football.sp.event.leaders}}
				<!-- Leader: {{title}} -->
				<thead>
					<tr>
						<th class="alc-event-leader__team">
							<div class="alc-event-leader__team-legend">
								<span class="alc-event-leader__team-legend-color alc-event-leader__team-legend-color--{{team1.color}}">{{team1.label}}</span>
								<span class="alc-event-leader__team-legend-abbr">{{team1.abbr}}</span>
							</div>
						</th>
						<th class="alc-event-leader__type">{{title}}</th>
						<th class="alc-event-leader__team">
							<div class="alc-event-leader__team-legend alc-event-leader__team-legend--reverse">
								<span class="alc-event-leader__team-legend-color alc-event-leader__team-legend-color--{{team2.color}}">{{team2.label}}</span>
								<span class="alc-event-leader__team-legend-abbr">{{team2.abbr}}</span>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					{{#each players}}
					<tr>
						<td class="alc-event-leader__player">
							<div class="alc-event-leader__player-info">
								<figure class="alc-event-leader__player-img alc-event-leader__player-img--n alc-event-leader__player-img--square">
									<img src="{{../root}}{{player1.thumb}}" alt="{{player1.name}}">
								</figure>
								<div class="alc-event-leader__player-inner">
									<h5 class="alc-event-leader__player-name">{{player1.name}}</h5>
									<span class="alc-event-leader__player-position">{{player1.position}}</span>
									{{#each player1.stats}}
									<div class="alc-event-leader__player-stats">{{value}}</div>
									{{/each}}
								</div>
							</div>
						</td>

						<td class="alc-event-leader__divider">vs</td>

						<td class="alc-event-leader__player">
							<div class="alc-event-leader__player-info">
								<figure class="alc-event-leader__player-img alc-event-leader__player-img--n alc-event-leader__player-img--square">
									<img src="{{../root}}{{player2.thumb}}" alt="{{player2.name}}">
								</figure>
								<div class="alc-event-leader__player-inner">
									<h5 class="alc-event-leader__player-name">{{player2.name}}</h5>
									<span class="alc-event-leader__player-position">{{player2.position}}</span>
									{{#each player2.stats}}
									<div class="alc-event-leader__player-stats">{{value}}</div>
									{{/each}}
								</div>
							</div>
						</td>
					</tr>
					{{/each}}
				</tbody>
				<!-- Leader: {{title}} / End -->
				{{/each}}

			</table>
		</div>
	</div>
</aside>
<!-- Widget: Match Leaders / End -->
