<!-- Widget: Matchup -->
<div class="widget card card--has-table widget--sidebar widget-matchup">
	<div class="widget__content card__content">
		{{#each football.sp.event.team-stats.matchup}}
		<div class="table-responsive">
			<table class="table table-hover alc-table-stats alc-table-stats--compact">
				<thead class="table-card-header">
					<tr>
						<th class="table-card-header__title">{{thead.title}}</th>
						<th>
							<img src="{{thead.team1.logo}}" alt="{{thead.team1.name}}">
						</th>
						<th>
							<img src="{{thead.team2.logo}}" alt="{{thead.team2.name}}">
						</th>
					</tr>
				</thead>
				<tbody>
					{{#each tbody}}
					<tr>
						<td class="alc-align-start {{#if indent}}alc-indent{{else}}alc-highlight-sm{{/if}}">{{label}}</td>
						<td class="{{#if indent}}{{else}}alc-highlight-sm{{/if}}">{{stat1}}</td>
						<td class="{{#if indent}}{{else}}alc-highlight-sm{{/if}}">{{stat2}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		{{/each}}
	</div>
</div>
<!-- Widget: Matchup / End -->
