<!-- Hero Unit Slider
================================================== -->
<div class="rev_slider_wrapper container" data-source="gallery">
	<div id="hero-revslider_wrapper" class="rev_slider_wrapper" data-alias="funky-slider" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
		<!-- START REVOLUTION SLIDER 5.4.7.2 fullwidth mode -->
		<div id="hero-revslider" class="rev_slider" style="display:none;" data-version="5.4.7.2">
			<ul>
				<!-- Slide #1 -->
				<li data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">

					<!-- MAIN IMAGE -->
					<img src="{{../root}}assets/images/esports/hero-slider/hero-bg-1.jpg" data-bgcolor='#1d1429' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-resizeme rs-parallaxlevel-5"
						id="slide1-layer1"
						data-x="['center','center','center','center']" data-hoffset="['-185','-185','-135','-100']"
						data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="image"
						data-basealign="slide"
						data-responsive_offset="on"

						data-frames='[{"delay":800,"speed":1000,"frame":"0","from":"rX:90deg;sX:1;sY:1;skY:10px;opacity:0;","to":"o:1;tO:50% 100%;z:-5;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
						data-textAlign="['inherit','inherit','inherit','inherit']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 5;">

						<img src="{{../root}}assets/images/esports/hero-slider/hero-character-1.png" alt="" data-ww="['457px','385px','323px','261px']" data-hh="['591px','500px','420px','340px']" width="457" height="591" data-no-retina>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__h alc-hero-slider__h--h1 rs-parallaxlevel-10"
						id="slide1-layer2"
						data-x="['left','left','left','left']" data-hoffset="['775','520','430','320']"
						data-y="['top','top','top','top']" data-voffset="['195','150','120','105']"
						data-fontsize="['90','72','56','42']"
						data-lineheight="['90','72','56','42']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="text"
						data-responsive_offset="on"

						data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"x:-200px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":650,"frame":"999","to":"x:-200px;opacity:0;","ease":"Power4.easeIn"}]'

						style="z-index: 6;">
							<div class="rs-looped rs-wave" data-speed="2" data-angle="0" data-radius="2px" data-origin="50% 50%">Sarah</div>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__h alc-hero-slider__h--h1 alc-hero-slider__h--color-primary rs-parallaxlevel-10"
						id="slide1-layer3"
						data-x="['left','left','left','left']" data-hoffset="['775','520','430','320']"
						data-y="['top','top','top','top']" data-voffset="['280','210','175','150']"
						data-fontsize="['90','72','56','42']"
						data-lineheight="['90','72','56','42']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="text"
						data-responsive_offset="on"

						data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"x:200px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":650,"frame":"999","to":"x:200px;opacity:0;","ease":"Power4.easeIn"}]'

						style="z-index: 7;">
							<div class="rs-looped rs-wave" data-speed="2" data-angle="0" data-radius="2px" data-origin="50% 50%">Valentine</div>
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__h alc-hero-slider__h--h5 rs-parallaxlevel-11"
						id="slide1-layer4"
						data-x="['left','left','left','left']" data-hoffset="['780','525','435','320']"
						data-y="['top','top','top','top']" data-voffset="['166','130','95','80']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="text"
						data-typewriter='{"lines":"RANKED PLAYER","enabled":"on","speed":"80","delays":"1%7C100","looped":"on","cursorType":"one","blinking":"on","word_delay":"off","sequenced":"on","hide_cursor":"off","start_delay":"500","newline_delay":"1000","deletion_speed":"30","deletion_delay":"3000","blinking_speed":"500","linebreak_delay":"60","cursor_type":"one","background":"off"}'
						data-responsive_offset="on"

						data-frames='[{"delay":700,"speed":1000,"frame":"0","from":"y:50px;z:0;rX:45deg;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-10px;opacity:0;","ease":"Power3.easeInOut"}]'
						data-textAlign="['inherit','inherit','inherit','inherit']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 8;">
						Featured Player
					</div>

					<!-- LAYER NR. 5 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__text rs-parallaxlevel-11"
						id="slide1-layer5"
						data-x="['left','left','left','left']" data-hoffset="['780','525','435','320']"
						data-y="['top','top','top','top']" data-voffset="['385','290','250','210']"
						data-fontsize="['14','12','11','10']"
						data-lineheight="['21','18','56','15']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="text"
						data-responsive_offset="on"

						data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"rX:90deg;sX:1;sY:1;opacity:0;","to":"o:1;tO:50% 0%;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
						data-textAlign="['inherit','inherit','inherit','inherit']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 9;">
						She has the highest kill ratio of all the season
					</div>

					<!-- LAYER NR. 6 -->
					<div class="tp-caption tp-resizeme rs-parallaxlevel-10"
						id="slide1-layer6"
						data-x="['left','left','left','left']" data-hoffset="['775','525','435','320']"
						data-y="['bottom','bottom','bottom','bottom']" data-voffset="['125','160','105','90']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="button"
						data-basealign="slide"
						data-responsive_offset="on"

						data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"rX:90deg;sX:1;sY:1;opacity:0;","to":"o:1;tO:50% 0%;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'

						style="z-index: 10;"><a href="_esports_team-player.html" class="btn btn-primary btn-icon-right">Check the player's bio <i class="fas fa-angle-right"></i></a>
					</div>

				</li>
				<!-- Slide #1 / End -->

				<!-- Slide #2 -->
				<li data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">

					<!-- MAIN IMAGE -->
					<img src="{{../root}}assets/images/esports/hero-slider/hero-bg-2.jpg" data-bgcolor='#1d1429' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-resizeme"
						id="slide2-layer1"
						data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
						data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="image"
						data-basealign="slide"
						data-responsive_offset="on"

						data-frames='[{"delay":1200,"speed":800,"frame":"0","from":"rX:90deg;sX:1;sY:1;skY:0;opacity:0;z:1;","to":"o:1;tO:50% 100%;z:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

						data-textAlign="['inherit','inherit','inherit','inherit']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 1;">

						<img src="{{../root}}assets/images/esports/hero-slider/hero-decor.png" alt="" data-ww="['593px','420px','300px','290px']" data-hh="['431px','480px','420px','340px']" width="593" height="431" data-no-retina>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption tp-resizeme rs-parallaxlevel-5"
						id="slide2-layer2"
						data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
						data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="image"
						data-basealign="slide"
						data-responsive_offset="on"

						data-frames='[{"delay":800,"speed":1000,"frame":"0","from":"rX:90deg;sX:1;sY:1;skY:10px;opacity:0;z:5;","to":"o:1;tO:50% 100%;z:5;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
						data-textAlign="['inherit','inherit','inherit','inherit']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 5;">

						<img src="{{../root}}assets/images/esports/hero-slider/hero-character-2.png" alt="" data-ww="['949px','760px','580px','460px']" data-hh="['503px','403px','307px','244px']" width="949" height="503" data-no-retina>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__h alc-hero-slider__h--h1 rs-parallaxlevel-10"
						id="slide2-layer3"
						data-x="['left','left','left','left']" data-hoffset="['120','40','30','20']"
						data-y="['top','top','top','top']" data-voffset="['125','150','120','70']"
						data-fontsize="['90','72','56','42']"
						data-lineheight="['90','72','56','42']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="text"
						data-responsive_offset="on"

						data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"x:-200px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":650,"frame":"999","to":"x:-200px;opacity:0;","ease":"Power4.easeIn"}]'

						style="z-index: 6;">
							<div class="rs-looped rs-wave" data-speed="2" data-angle="0" data-radius="2px" data-origin="50% 50%">Alchemists</div>
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__h alc-hero-slider__h--h1 alc-hero-slider__h--color-primary rs-parallaxlevel-10"
						id="slide2-layer4"
						data-x="['left','left','left','left']" data-hoffset="['120','40','30','20']"
						data-y="['top','top','top','top']" data-voffset="['210','210','175','115']"
						data-fontsize="['90','72','56','42']"
						data-lineheight="['90','72','56','42']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="text"
						data-responsive_offset="on"

						data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"x:200px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":650,"frame":"999","to":"x:200px;opacity:0;","ease":"Power4.easeIn"}]'

						style="z-index: 7;">
							<div class="rs-looped rs-wave" data-speed="2" data-angle="0" data-radius="2px" data-origin="50% 50%">FortDaite</div>
					</div>

					<!-- LAYER NR. 5 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__h alc-hero-slider__h--h5 rs-parallaxlevel-11"
						id="slide2-layer5"
						data-x="['left','left','left','left']" data-hoffset="['120','40','30','20']"
						data-y="['top','top','top','top']" data-voffset="['96','130','95','45']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="text"
						data-typewriter='{"lines":"A NEW ERA BEGINS!","enabled":"on","speed":"80","delays":"1%7C100","looped":"on","cursorType":"one","blinking":"on","word_delay":"off","sequenced":"on","hide_cursor":"off","start_delay":"500","newline_delay":"1000","deletion_speed":"30","deletion_delay":"3000","blinking_speed":"500","linebreak_delay":"60","cursor_type":"one","background":"off"}'
						data-responsive_offset="on"

						data-frames='[{"delay":700,"speed":1000,"frame":"0","from":"y:50px;z:0;rX:45deg;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-10px;opacity:0;","ease":"Power3.easeInOut"}]'
						data-textAlign="['inherit','inherit','inherit','inherit']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 8;">
						A new team approaches!
					</div>

					<!-- LAYER NR. 6 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__text rs-parallaxlevel-11"
						id="slide2-layer6"
						data-x="['left','left','left','left']" data-hoffset="['120','40','30','20']"
						data-y="['top','top','top','top']" data-voffset="['315','290','250','175']"
						data-fontsize="['14','12','11','10']"
						data-lineheight="['21','18','56','15']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="text"
						data-responsive_offset="on"

						data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"rX:90deg;sX:1;sY:1;opacity:0;","to":"o:1;tO:50% 0%;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
						data-textAlign="['inherit','inherit','inherit','inherit']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 9;">
						We welcome the new Fortdaite team roster to the <br> Alchemists family!
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption tp-resizeme rs-parallaxlevel-10"
						id="slide2-layer7"
						data-x="['left','left','left','left']" data-hoffset="['120','40','30','20']"
						data-y="['bottom','bottom','bottom','bottom']" data-voffset="['170','160','105','125']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="button"
						data-basealign="slide"
						data-responsive_offset="on"

						data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"rX:90deg;sX:1;sY:1;opacity:0;","to":"o:1;tO:50% 0%;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'

						style="z-index: 10;"><a href="_esports_team-overview.html" class="btn btn-primary-inverse btn-icon-right">Get to know the team <i class="fas fa-angle-right"></i></a>
					</div>

				</li>
				<!-- Slide #2 / End -->

				<!-- Slide #3 -->
				<li data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">

					<!-- MAIN IMAGE -->
					<img src="{{../root}}assets/images/esports/hero-slider/hero-bg-3.jpg" data-bgcolor='#1d1429' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption alc-hero-slider__label tp-resizeme rs-parallaxlevel-11"
						id="slide3-layer1"
						data-x="['left','left','left','left']" data-hoffset="['128','80','40','20']"
						data-y="['top','top','top','top']" data-voffset="['120','130','100','78']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="button"
						data-basealign="slide"
						data-responsive_offset="on"

						data-frames='[{"delay":300,"speed":1000,"frame":"0","from":"y:-50px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":650,"frame":"999","to":"x:-200px;opacity:0;","ease":"Power4.easeIn"}]'

						style="z-index: 10;">
							<span class="label posts__cat-label posts__cat-label--category-1">The Team</span>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption alc-hero-slider__label tp-resizeme rs-parallaxlevel-11"
						id="slide3-layer2"
						data-x="['left','left','left','left']" data-hoffset="['194','146','110','82']"
						data-y="['top','top','top','top']" data-voffset="['120','130','100','78']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="button"
						data-basealign="slide"
						data-responsive_offset="on"

						data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"y:-50px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":650,"frame":"999","to":"x:-200px;opacity:0;","ease":"Power4.easeIn"}]'

						style="z-index: 10;">
							<span class="label posts__cat-label posts__cat-label--category-2">L.O. Heroes</span>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__h alc-hero-slider__h--h2 rs-parallaxlevel-10"
						id="slide3-layer3"
						data-x="['left','left','left','left']" data-hoffset="['128','80','40','20']"
						data-y="['top','top','top','top']" data-voffset="['160','160','130','105']"
						data-fontsize="['58','46','34','24']"
						data-lineheight="['58','46','34','24']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="text"
						data-responsive_offset="on"

						data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"x:-200px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":650,"frame":"999","to":"x:-200px;opacity:0;","ease":"Power4.easeIn"}]'

						style="z-index: 6;">
							The League of Heroes
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__h alc-hero-slider__h--h2 rs-parallaxlevel-10"
						id="slide3-layer4"
						data-x="['left','left','left','left']" data-hoffset="['128','80','40','20']"
						data-y="['top','top','top','top']" data-voffset="['210','200','157','125']"
						data-fontsize="['58','46','34','24']"
						data-lineheight="['58','46','34','24']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="text"
						data-responsive_offset="on"

						data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"x:-200px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":650,"frame":"999","to":"x:-200px;opacity:0;","ease":"Power4.easeIn"}]'

						style="z-index: 6;">
							team destroyed the
					</div>

					<!-- LAYER NR. 5 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__h alc-hero-slider__h--h2 rs-parallaxlevel-10"
						id="slide3-layer5"
						data-x="['left','left','left','left']" data-hoffset="['128','80','40','20']"
						data-y="['top','top','top','top']" data-voffset="['262','238','185','145']"
						data-fontsize="['58','46','34','24']"
						data-lineheight="['58','46','34','24']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="text"
						data-responsive_offset="on"

						data-frames='[{"delay":700,"speed":1000,"frame":"0","from":"x:-200px;sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":650,"frame":"999","to":"x:-200px;opacity:0;","ease":"Power4.easeIn"}]'

						style="z-index: 6;">
							Clovers 7-0
					</div>

					<!-- LAYER NR. 6 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__author-avatar rs-parallaxlevel-11"
						id="slide1-layer6"
						data-x="['left','left','left','left']" data-hoffset="['125','80','40','20']"
						data-y="['top','top','top','top']" data-voffset="['341','300','230','180']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="image"
						data-basealign="slide"
						data-responsive_offset="on"

						data-frames='[{"delay":600,"speed":1000,"frame":"0","from":"y:50px;z:0;rX:45deg;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-10px;opacity:0;","ease":"Power3.easeInOut"}]'
						data-textAlign="['inherit','inherit','inherit','inherit']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 5;">

						<img src="{{../root}}assets/images/samples/avatar-12-xs.jpg" alt="" class="rounded-circle" data-ww="['24px','24px','18px','15px']" data-hh="['24px','24px','18px','15px']" width="24" height="24" data-no-retina>
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption tp-resizeme alc-hero-slider__h alc-hero-slider__h--h6 rs-parallaxlevel-11"
						id="slide3-layer7"
						data-x="['left','left','left','left']" data-hoffset="['157','110','65','43']"
						data-y="['top','top','top','top']" data-voffset="['345','303','232','181']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="text"

						data-frames='[{"delay":700,"speed":1000,"frame":"0","from":"y:50px;z:0;rX:45deg;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:-10px;opacity:0;","ease":"Power3.easeInOut"}]'

						style="z-index: 8;">
						by Eric Rodgers - August 27th, 2018
					</div>

					<!-- LAYER NR. 8 -->
					<div class="tp-caption tp-resizeme rs-parallaxlevel-10"
						id="slide3-layer8"
						data-x="['left','left','left','left']" data-hoffset="['125','80','40','20']"
						data-y="['bottom','bottom','bottom','bottom']" data-voffset="['163','160','135','120']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"

						data-type="button"
						data-basealign="slide"
						data-responsive_offset="on"

						data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"rX:90deg;sX:1;sY:1;opacity:0;","to":"o:1;tO:50% 0%;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'

						style="z-index: 10;">
						<a href="_esports_blog-post-3.html" class="btn btn-primary-inverse btn-icon-right">Read full story <i class="fas fa-angle-right"></i></a>
					</div>

				</li>
				<!-- Slide #3 / End -->

			</ul>
		</div>
	</div>
	<!-- END REVOLUTION SLIDER -->
</div>
