<!-- Widget: Gaming Competitions -->
<div class="card card--clean">
	<header class="card__header card__header--has-arrows js-team-tournaments-carousel-header">
		<h4>Gaming Competitions</h4>
	</header>
	<div class="card__content">


		<!-- Carousel -->
		<div class="slick-carousel-wrapper">
			<div class="slick-arrows--rounded posts posts--cards row team-tournaments-carousel js-team-tournaments-carousel">

				{{#each esports.sp.team.widget-tournaments}}
				<div class="post-grid__item col-sm-6">
					<div class="posts__item posts__item--card {{#each category}}posts__item--{{class}} {{/each}} card alc-tourn-card">
						<figure class="posts__thumb">
							<div class="posts__cat">
								{{#each category}}<span class="label posts__cat-label posts__cat-label--{{class}}">{{name}}</span>{{/each}}
							</div>
							<a href="#"><img src="{{../root}}assets/images/esports/samples/{{thumb}}" alt=""></a>
						</figure>
						<div class="alc-tourn-card__header">
							<div class="alc-tourn-card__icon">
								<svg role="img" class="df-icon df-icon--trophy">
									<use xlink:href="{{../root}}assets/images/esports/icons-esports.svg#trophy"/>
								</svg>
							</div>
							<div class="alc-tourn-card__heading">
								<h4 class="posts__title alc-tourn-card__title"><a href="#">{{title}}</a></h4>
								<time datetime="2018-08-23" class="posts__date alc-tourn-card__date">{{date}}</time>
							</div>
							<div class="alc-tourn-card__rank">
								<div class="alc-tourn-card__rank-value">{{rank}}</div>
								<div class="alc-tourn-card__rank-label">Rank</div>
							</div>
						</div>
						<div class="posts__inner card__content alc-tourn-card__content">
							<div class="progress-stats progress-stats--top-labels alc-tourn-card__progress">
								<div class="progress__label">Reached:</div>
								<div class="progress progress--dashed">
									<div class="progress__bar" role="progressbar" style="width: {{results.value}}%;" aria-valuenow="{{results.value}}" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<div class="progress__number">{{results.label}}</div>
							</div>
						</div>
						<div class="alc-tourn-card__meta">
							{{#each meta}}
							<div class="alc-tourn-card__meta-item {{#if this.highlight}}alc-tourn-card__meta-item--highlight{{/if}}">
								<div class="alc-tourn-card__meta-item-value">{{this.value}}</div>
								<div class="alc-tourn-card__meta-item-label">{{this.label}}</div>
							</div>
							{{/each}}
						</div>
						<footer class="posts__footer card__footer alc-tourn-card__footer">
							<a href="#" class="btn btn-sm btn-primary">Check the Tournament Page</a>
						</footer>

					</div>
				</div>
				{{/each}}

			</div>
			<!-- Carousel / End -->
		</div>

	</div>
</div>
<!-- Widget: Gaming Competitions / End -->
