<!-- Related Products -->
<div class="card card--clean">
	<header class="card__header">
		<h4>Related Products</h4>
	</header>
	<div class="card__content">

		<!-- Products -->
		<ul class="products products--grid products--grid-4 products--grid-overlay">

			{{#each football.products.related}}
			<!-- Product #{{@key}} -->
			<li class="product__item product__item--{{color}} card">
				<div class="product__img">
					<div class="product__img-holder">
						<div class="product__bg-letters">{{abbr}}</div>
						<div class="product__slider">
							{{#each img}}
							<div class="product__slide">
								<div class="product__slide-img">
									<img src="{{../root}}assets/images/samples/{{thumb}}" alt="">
								</div>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="product__content card__content">
					<header class="product__header">
						<div class="product__header-inner">
							<h2 class="product__title"><a href="_football_shop-product.html">{{title}}</a></h2>
							<span class="product__category">{{category}}</span>
							<div class="product__ratings">
								{{#repeat rating.full}}
								<i class="fas fa-star"></i>
								{{/repeat}}
								{{#repeat rating.empty}}
								<i class="fas fa-star empty"></i>
								{{/repeat}}
							</div>
							<div class="product__price">{{price}}</div>
						</div>
					</header>
					<footer class="product__footer">
						<a href="_football_shop-cart.html" class="btn btn-primary-inverse btn-single-icon btn-circle" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fas fa-plus"></i></a>
						<a href="#" class="btn btn-default btn-single-icon product__wish btn-outline btn-circle" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="icon-heart"></i></a>
						<a href="#" class="btn btn-primary btn-single-icon product__view btn-outline btn-circle" data-toggle="tooltip" data-placement="top" title="10890"><i class="icon-eye"></i></a>
					</footer>
				</div>
			</li>
			<!-- Product #{{@key}} / End -->
			{{/each}}

		</ul>
		<!-- Products / End -->

	</div>
</div>
<!-- Related Products / End -->
