---
layout: esports
page-title: Match Overview V1-A
page-heading: "Match <span class=\"highlight\">Overview</span> v1-A"
megamenu: v3

breadcrumbs: [
	{
		label: "Teams",
		link: "#"
	},
	{
		label: "L.O. Heroes",
		link: "#"
	},
	{
		label: "Match"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<!-- ALC Event Result -->
		<div class="alc-event-result-box card card--no-paddings">

			<!-- Header -->
			<header class="alc-event-result-box__header alc-event-result-box__header--center card__header card__header--no-highlight">
				<div class="alc-event-result-box__header-date">Saturday, March 6th</div>
				<div class="alc-event-result-box__header-heading">
					<h5 class="alc-event-result-box__header-title">League of Heroes Tournament</h5>
					<span class="alc-event-result-box__header-subtitle">Finals - Week 5</span>
				</div>
				<div class="alc-event-result-box__header-venue">9:00 PM EST, Shenlong Arena</div>
			</header>
			<!-- Header / End -->

			<!-- Team & Result -->
			<div class="alc-event-result-box__content card__content">

				<div class="alc-event-result-box__teams alc-event-result-box__teams--default">

					<!-- Team #1 -->
					<div class="alc-event-result-box__team alc-event-result-box__team--first">
						<div class="alc-event-result-box__team-img effect-duotone effect-duotone--primary"></div>
						<div class="alc-event-result-box__team-body">
							<figure class="alc-event-result-box__team-logo">
								<img src="{{../root}}assets/images/esports/logos/alchemists-60x69.png" alt="">
							</figure>
							<div class="alc-event-result-box__team-meta">
								<h5 class="alc-event-result-box__team-name">The Alchemists</h5>
								<span class="alc-event-result-box__team-subtitle">United States</span>
							</div>
						</div>
					</div>
					<!-- Team #1 / End -->

					<!-- Score -->
					<div class="alc-event-result-box__team-score">
						<span class="win">2</span> - <span class="loss">1</span>
					</div>
					<!-- Score / End -->

					<!-- Team #2 -->
					<div class="alc-event-result-box__team alc-event-result-box__team--second">
						<div class="alc-event-result-box__team-img effect-duotone effect-duotone--info"></div>
						<div class="alc-event-result-box__team-body">
							<figure class="alc-event-result-box__team-logo">
								<img src="{{../root}}assets/images/esports/logos/sharks-72x62.png" alt="">
							</figure>
							<div class="alc-event-result-box__team-meta">
								<h5 class="alc-event-result-box__team-name">Sharks</h5>
								<span class="alc-event-result-box__team-subtitle">South Korea</span>
							</div>
						</div>
					</div>
					<!-- Team #2 / End -->

				</div>

			</div>
			<!-- Team & Result / End -->

			<!-- Tabs -->
			<footer class="alc-event-result-box__footer card__footer">
				<ul class="alc-event-result-box__tabs list-unstyled">
					<li class="alc-event-result-box__tab active">
						<a href="#" class="alc-event-result-box__tab-link">
							<span class="alc-event-result-box__tab-subtitle">Overview</span>
							<span class="alc-event-result-box__tab-title">First Game</span>
						</a>
					</li>
					<li class="alc-event-result-box__tab">
						<a href="#" class="alc-event-result-box__tab-link">
							<span class="alc-event-result-box__tab-subtitle">Overview</span>
							<span class="alc-event-result-box__tab-title">Second Game</span>
						</a>
					</li>
					<li class="alc-event-result-box__tab">
						<a href="#" class="alc-event-result-box__tab-link">
							<span class="alc-event-result-box__tab-subtitle">Overview</span>
							<span class="alc-event-result-box__tab-title">Third Game</span>
						</a>
					</li>
				</ul>
			</footer>
			<!-- Tabs / End -->

		</div>
		<!-- ALC Event Result / End -->

		<div class="row">

			<div class="col-lg-8">

				<!-- Team Lineups -->
				<div class="card card--no-paddings">
					<header class="card__header">
						<h4>Team Lineups</h4>
					</header>
					<div class="card__content">

						<!-- Team Lineup -->
						<div class="alc-event-lineup alc-event-lineup--style1">

							<!-- Header -->
							<header class="alc-event-lineup__header">
								<div class="alc-event-lineup__team alc-event-lineup__team--first">
									<img src="{{esports.sp.event1.a.lineup.team1.logo}}" alt="" class="alc-event-lineup__team-logo">
									<div class="alc-event-lineup__team-meta">
										<h6 class="alc-event-lineup__team-name">{{esports.sp.event1.a.lineup.team1.name}}</h6>
										<span class="alc-event-lineup__team-desc">{{esports.sp.event1.a.lineup.team1.place}}</span>
									</div>
								</div>
								<div class="alc-event-lineup__team alc-event-lineup__team--second">
									<img src="{{esports.sp.event1.a.lineup.team2.logo}}" alt="" class="alc-event-lineup__team-logo">
									<div class="alc-event-lineup__team-meta">
										<h6 class="alc-event-lineup__team-name">{{esports.sp.event1.a.lineup.team2.name}}</h6>
										<span class="alc-event-lineup__team-desc">{{esports.sp.event1.a.lineup.team2.place}}</span>
									</div>
								</div>
							</header>
							<!-- Header / End -->

							<!-- Statistics -->
							<div class="table-responsive">
								<table class="table table-thead-color table-top-border table-stats alc-event-lineup__stats alc-event-lineup__stats--style1">
									<thead>
										<tr>
											<th class="alc-event-lineup-stat__player-cell text-left">Player / Character</th>
											<th class="alc-event-lineup-stat__numbers">K / D / A</th>
											<th class="alc-event-lineup-stat__info"></th>
											<th class="alc-event-lineup-stat__info"></th>
											<th class="alc-event-lineup-stat__numbers">K / D / A</th>
											<th class="alc-event-lineup-stat__player-cell text-right">Player / Character</th>
										</tr>
									</thead>
									<tbody>

										{{#each esports.sp.event1.a.lineup.stats}}
										<tr>

											<!-- Team 1 Player -->
											<td class="alc-event-lineup-stat__player-cell text-left">
												<div class="alc-event-lineup-stat__player">
													<div class="alc-event-lineup-stat__player-inner">
														<figure class="alc-event-lineup-stat__thumb">
															<img src="{{player1.thumb}}" alt="{{player1.nickname}}">
															<figcaption class="alc-event-lineup-stat__badge">{{player1.level}}</figcaption>
														</figure>
														<div class="alc-event-lineup-stat__items">
															{{#each player1.details}}
															<img src="{{img}}" alt="" class="alc-event-lineup-stat__item">
															{{/each}}
														</div>
													</div>
													<div class="alc-event-lineup-stat__meta">
														<h6 class="alc-event-lineup-stat__nickname">{{player1.nickname}}</h6>
														<div class="alc-event-lineup-stat__desc">
															{{#each player1.info}}
															<span class="alc-event-lineup-stat__desc-item">{{class}}</span>
															{{/each}}
														</div>
													</div>
												</div>
											</td>
											<td class="alc-event-lineup-stat__numbers">
												<ul class="alc-event-lineup-stat__numbers-list list-unstyled">
													<li class="alc-event-lineup-stat__number-item text-success">{{player1.stat.kills}}</li>
													<li class="alc-event-lineup-stat__number-item text-danger">{{player1.stat.deaths}}</li>
													<li class="alc-event-lineup-stat__number-item text-warning">{{player1.stat.assists}}</li>
												</ul>
											</td>
											<td class="alc-event-lineup-stat__info">
												<ul class="alc-event-lineup-stat__info-list list-unstyled">
													{{#each player1.items}}
													<li class="alc-event-lineup-stat__info-item">
														<img src="{{img}}"
														alt=""
														data-toggle="tooltip"
														data-placement="left"
														data-html="true"
														title="<div class='alc-event-lineup-tooltip__header'><img src='{{img}}' alt='{{title}}'><h6>{{title}}</h6></div><div class='alc-event-lineup-tooltip__desc'>{{desc}}</div>"
														data-template="<div class='tooltip tooltip--card' role='tooltip'><div class='tooltip-inner'></div></div>">
													</li>
													{{/each}}
												</ul>
											</td>
											<!-- Team 1 Player / End -->

											<!-- Team 2 Player -->
											<td class="alc-event-lineup-stat__info text-right">
												<ul class="alc-event-lineup-stat__info-list list-unstyled">
													{{#each player2.items}}
													<li class="alc-event-lineup-stat__info-item">
														<img src="{{img}}"
														alt=""
														data-toggle="tooltip"
														data-placement="right"
														data-html="true"
														title="<div class='alc-event-lineup-tooltip__header'><img src='{{img}}' alt='{{title}}'><h6>{{title}}</h6></div><div class='alc-event-lineup-tooltip__desc'>{{desc}}</div>"
														data-template="<div class='tooltip tooltip--card' role='tooltip'><div class='tooltip-inner'></div></div>">
													</li>
													{{/each}}
												</ul>
											</td>
											<td class="alc-event-lineup-stat__numbers">
												<ul class="alc-event-lineup-stat__numbers-list list-unstyled">
													<li class="alc-event-lineup-stat__number-item text-success">{{player2.stat.kills}}</li>
													<li class="alc-event-lineup-stat__number-item text-danger">{{player2.stat.deaths}}</li>
													<li class="alc-event-lineup-stat__number-item text-warning">{{player2.stat.assists}}</li>
												</ul>
											</td>
											<td class="alc-event-lineup-stat__player-cell text-right">
												<div class="alc-event-lineup-stat__player">
													<div class="alc-event-lineup-stat__player-inner">
														<figure class="alc-event-lineup-stat__thumb alc-event-lineup-stat__thumb--color-alt">
															<img src="{{player2.thumb}}" alt="{{player2.nickname}}">
															<figcaption class="alc-event-lineup-stat__badge">{{player2.level}}</figcaption>
														</figure>
														<div class="alc-event-lineup-stat__items">
															{{#each player2.details}}
															<img src="{{img}}" alt="" class="alc-event-lineup-stat__item">
															{{/each}}
														</div>
													</div>
													<div class="alc-event-lineup-stat__meta">
														<h6 class="alc-event-lineup-stat__nickname">{{player2.nickname}}</h6>
														<div class="alc-event-lineup-stat__desc">
															{{#each player2.info}}
															<span class="alc-event-lineup-stat__desc-item">{{class}}</span>
															{{/each}}
														</div>
													</div>
												</div>
											</td>
											<!-- Team 2 Player / End -->

										</tr>
										{{/each}}

									</tbody>
								</table>
							</div>
							<!-- Statistics / End -->

							<!-- Footer (Bans) -->
							<footer class="alc-event-lineup__footer">
								<div class="alc-event-lineup__bans">
									<div class="alc-event-lineup__ban alc-event-lineup__ban--first">
										<h5 class="alc-event-lineup__ban-title">Team Bans</h5>
										<div class="alc-event-lineup__ban-items">
											{{#each esports.sp.event1.a.lineup.team1.bans}}
											<div class="alc-event-lineup__ban-item">
												<a href="#" data-toggle="tooltip" data-placement="top" title="{{name}}"><img src="{{img}}" alt=""></a>
											</div>
											{{/each}}
										</div>
									</div>
									<div class="alc-event-lineup__ban alc-event-lineup__ban--second">
										<h5 class="alc-event-lineup__ban-title">Team Bans</h5>
										<div class="alc-event-lineup__ban-items">
											{{#each esports.sp.event1.a.lineup.team2.bans}}
											<div class="alc-event-lineup__ban-item">
												<a href="#" data-toggle="tooltip" data-placement="top" title="{{name}}"><img src="{{img}}" alt=""></a>
											</div>
											{{/each}}
										</div>
									</div>
								</div>
							</footer>
							<!-- Footer (Bans) / End -->

						</div>
						<!-- Team Lineup / End -->
					</div>
				</div>
				<!-- Team Lineups / End -->

				{{> _esports_widget-video btn="true" id="iH0wacpNuDQ" thumbnail="assets/images/esports/samples/event-video2-cover-md.jpg"}}

			</div>

			<div class="col-lg-4">

				{{> _esports_widget-event-1a-result }}

			</div>

		</div>

	</div>
</div>

<!-- Content / End -->
