---
layout: football
page-title: Cart
page-heading: "Shopping <span class=\"highlight\">Cart</span>"

breadcrumbs: [
	{
		label: "Shop",
		link: "_football_shop-list.html"
	},
	{
		label: "Shopping Cart"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<div class="row">
			<div class="col-lg-8">
				<!-- Shopping Cart -->
				<div class="card card--has-table">
					<div class="card__header">
						<h4>Your Shopping Cart</h4>
					</div>
					<div class="card__content">

						<div class="table-responsive">
							<table class="table shop-table">
								<thead>
									<tr>
										<th class="product__info" colspan="2">Product Info</th>
										<th class="product__price">Price</th>
										<th class="product__size">Size</th>
										<th class="product__color">Color</th>
										<th class="product__quantity">Quantity</th>
										<th class="product__total">Total</th>
										<th class="product__remove"></th>
									</tr>
								</thead>
								<tbody>

									{{#each football.products.cart}}
									<tr>
										<td class="product__photo">
											<figure class="product__thumb">
												<a href="#"><img src="{{../root}}assets/images/samples/{{thumb}}" alt=""></a>
											</figure>
										</td>
										<td class="product__info">
											<h5 class="product__name"><a href="_football_shop-product.html">{{title}}</a></h5>
											<span class="product__cat">{{category}}</span>
											<div class="product__ratings">
												{{#repeat rating.full}}
												<i class="fas fa-star"></i>
												{{/repeat}}
												{{#repeat rating.empty}}
												<i class="fas fa-star empty"></i>
												{{/repeat}}
											</div>
										</td>
										<td class="product__price">
											{{price}}
										</td>
										<td class="product__size">
											{{size}}
										</td>
										<td class="product__color">
											<span class="product__color-item product__color-item--selected product__color-item--color-{{color}}"></span>
										</td>
										<td class="product__quantity">
											<input type="number" class="form-control product-quantity-control input-sm" step="1" value="{{quantity}}">
										</td>
										<td class="product__total">
											{{price_total}}
										</td>
										<td class="product__remove">
											<a href="#" class="fas fa-times product__remove-icon"></a>
										</td>
									</tr>
									{{/each}}

								</tbody>
							</table>
						</div>


						<div class="card__content-inner">
							<form action="#" class="coupon-code-form coupon-code-form--inline">
								<div class="row">
									<div class="col-md-8">
										<div class="coupon-code-form-inner">
											<label>Coupon Code</label>
											<input type="text" class="form-control input-sm" placeholder="Enter your Coupon Code">
										</div>
									</div>
									<div class="col-md-4">
										<button class="btn btn-primary-inverse btn-block">Apply Coupon</button>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="card__header">
						<h4>Calculate Shipping</h4>
					</div>
					<div class="card__content">
						<div class="card__content-inner">
							<form action="#" class="shipping-calculation-form">
								<div class="row">
									<div class="col-md-4">
										<select name="account-country" id="account-country" class="form-control input-sm">
											<option value="0">Select your country</option>
											<option value="Canada">Canada</option>
											<option value="Italy">Italy</option>
											<option value="Spain">Spain</option>
											<option value="Greece">Greece</option>
										</select>
									</div>
									<div class="col-md-4">
										<select name="account-city" id="account-city" class="form-control input-sm">
											<option value="0">Select your city</option>
											<option value="1">New York</option>
											<option value="2">Barcelona</option>
											<option value="3">Paris</option>
											<option value="4">London</option>
										</select>
									</div>
									<div class="col-md-4">
										<button type="submit" class="btn btn-primary-inverse btn-lg btn-block input-sm">Update Shipping</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- Shopping Cart / End -->
			</div>
			<div class="col-lg-4">
				<!-- Cart Totals -->
				<div class="card card--has-table">
					<div class="card__header">
						<h4>Cart Totals</h4>
					</div>
					<div class="card__content">

						<!-- Checkout Review Order -->
						<div class="df-checkout-review-order">
							<div class="table-responsive">
								<table class="df-checkout-review-order-table table">
									<tfoot>
										<tr class="cart-subtotal">
											<th>Cart Subtotal</th>
											<td>
												<span class="amount">
													<span class="df-Price-currencySymbol">$</span>242.00
												</span>
											</td>
										</tr>
										<tr class="shipping">
											<th>Shipping and Handlings</th>
											<td>
												<span class="amount">
													<span class="df-Price-currencySymbol">$</span>50.00
												</span>
											</td>
										</tr>
										<tr class="coupon">
											<th>Coupone Discount</th>
											<td>
												<span class="amount">
													-<span class="df-Price-currencySymbol">$</span>10.00
												</span>
											</td>
										</tr>
										<tr class="order-total">
											<th>Cart Total</th>
											<td>
												<span class="amount">
													<span class="df-Price-currencySymbol">$</span>282.00
												</span>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
						<!-- Checkout Review Order / End -->

						<!-- Checkout Payment -->
						<div class="df-checkout-payment">
							<div class="place-order">
								<input type="submit" class="btn btn-primary-inverse btn-lg btn-block" name="df_checkout_place_order" id="place_order" value="Proceed to Checkout">
							</div>
						</div>
						<!-- Checkout Payment / End -->

					</div>
				</div>
				<!-- Cart Totals / End -->
			</div>
		</div>

	</div>
</div>

<!-- Content / End -->
