---
layout: football
page-title: Gallery
page-heading: "Team <span class=\"highlight\">Gallery</span>"

breadcrumbs: [
	{
		label: "Team",
		link: "_football_team-overview.html"
	},
	{
		label: "Gallery"
	}
]
---

{{> _football_team-filter}}

<!-- Content
================================================== -->
<div class="site-content">

	<div class="container">
		<div class="content-title">
			<h2 class="content-title__h">Players Photoshoot</h2>
			<h6 class="content-title__subtitle">December 2017</h6>
			<a href="_football_team-gallery.html" class="btn btn-xs btn-default">Go Back to Albums</a>
		</div>

		<!-- Album -->
		<div class="album row">

			{{#each football.sp.team.album}}
			<div class="album__item col-6 col-sm-4">
				<div class="album__item-holder">
					<a href="{{../root}}assets/images/{{imgs.full}}" class="album__item-link mp_gallery">
						<figure class="album__thumb">
							<img src="{{../root}}assets/images/{{imgs.thumb}}" alt="">
						</figure>
						<div class="album__item-desc">
							<h4 class="album__item-title">{{title}}</h4>
							<time class="album__item-date" datetime="2016-08-23">{{date}}</time>
						</div>
					</a>
					<ul class="album__item-meta meta">
						<li class="meta__item meta__item--likes"><a href="#"><i class="meta-like meta-like--active icon-heart"></i> {{meta.likes}}</a></li>
					</ul>
				</div>
			</div>
			{{/each}}

		</div>
		<!-- Gallery Album / End -->

		{{> _football_team-pagination custom-class="justify-content-center"}}
	</div>

</div>

<!-- Content / End -->
