---
layout: football
page-title: Single Player
player-heading: true
---

{{> _football_player-filter}}

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<!-- Album -->
		<div class="album-wrapper row">
			<div class="album">

				{{#each football.sp.player.gallery}}
				<div class="album__item col-6 col-sm-4">
					<div class="album__item-holder album__item-holder--color--primary">
						<a href="{{../root}}assets/images/football/samples/{{img.full}}" class="album__item-link mp_gallery">
							<figure class="album__thumb">
								<img src="{{../root}}assets/images/football/samples/{{img.thumb}}" alt="">
							</figure>
							<div class="album__item-desc">
								<div class="album__item-desc-inner">
									<h4 class="album__item-title">{{title}}</h4>
									<time class="album__item-date" datetime="2016-08-23">{{date}}</time>
								</div>
							</div>
						</a>
					</div>
				</div>
				{{/each}}

			</div>
		</div>
		<!-- Gallery Album / End -->

		{{> _football_player-album-load-more}}

	</div>

</div>

<!-- Content / End -->
