---
layout: football
page-title: Roster
page-heading: "Team <span class=\"highlight\">Roster</span>"

breadcrumbs: [
	{
		label: "Team",
		link: "_football_team-overview.html"
	},
	{
		label: "Roster"
	}
]
---

{{> _football_team-filter}}

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<!-- Team Roster - Card -->
		<div class="team-roster team-roster--case team-roster--case-slider">

			{{#each football.sp.team.roster-featured}}
			<!-- Player #{{@key}} -->
			<div class="team-roster__item card card--no-paddings">
				<div class="card__content">

					<!-- Player Photo -->
					<figure class="team-roster__player-img">
						<a href="_football_player-overview.html"><img src="{{../root}}assets/images/football/samples/{{img}}" alt=""></a>
					</figure>
					<!-- Player Photo / End-->

					<!-- Player Details -->
					<div class="card__header team-roster__player-details">
						<div class="team-roster__player-info">
							<h3 class="team-roster__player-name">
								<span class="team-roster__player-first-name">{{firstname}}</span>
								<span class="team-roster__player-last-name">{{lastname}}</span>
							</h3>
						</div>
					</div>
					<!-- Player Details / End -->

					<!-- Player Meta Info -->
					<div class="team-roster__meta">
						<div class="team-roster__meta-item team-roster__meta-item--lg">
							<div class="team-roster__meta-value team-roster__meta-value--accent">{{position}}</div>
							<div class="team-roster__meta-label">Position</div>
						</div>
						<div class="team-roster__meta-item">
							<div class="team-roster__meta-value">{{number}}</div>
							<div class="team-roster__meta-label">Number</div>
						</div>
						<div class="team-roster__meta-item">
							<div class="team-roster__meta-value">{{stat}}</div>
							<div class="team-roster__meta-label">Stat AVG</div>
						</div>
					</div>
					<!-- Player Meta Info / End -->

				</div>
			</div>
			<!-- Player #{{@key}} / End -->
			{{/each}}

		</div>
		<!-- Team Roster - Card / End -->

		<div class="row">
			<!-- Team Roster: Table -->
			<div class="col-lg-8">
				<div class="card card--has-table">
					<div class="card__header">
						<h4>Complete Roster</h4>
					</div>
					<div class="card__content">
						<div class="table-responsive">
							<table class="table table--lg team-roster-table">
								<thead>
									<tr>
										<th class="team-roster-table__number">NBR</th>
										<th class="team-roster-table__name">Player Name</th>
										<th class="team-roster-table__position">Position</th>
										<th class="team-roster-table__age">Age</th>
										<th class="team-roster-table__height">Height</th>
										<th class="team-roster-table__weight">Weight</th>
										<th class="team-roster-table__status">Status</th>
										<th class="team-roster-table__college">College</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th colspan="8" class="team-roster-table__header">Offense</th>
									</tr>

									{{#each football.sp.team.roster-complete.offense}}
									<tr>
										<td class="team-roster-table__number">{{number}}</td>
										<td class="team-roster-table__name">{{name}}</td>
										<td class="team-roster-table__position">{{position}}</td>
										<td class="team-roster-table__age">{{age}}</td>
										<td class="team-roster-table__height">{{height}}</td>
										<td class="team-roster-table__weight">{{weight}}</td>
										<td class="team-roster-table__status {{#ifequal status 'Active'}}text-success{{else}}text-danger{{/ifequal}}">{{status}}</td>
										<td class="team-roster-table__college">{{college}}</td>
									</tr>
									{{/each}}

									<tr>
										<th colspan="8" class="team-roster-table__header">Defense</th>
									</tr>

									{{#each football.sp.team.roster-complete.defense}}
									<tr>
										<td class="team-roster-table__number">{{number}}</td>
										<td class="team-roster-table__name">{{name}}</td>
										<td class="team-roster-table__position">{{position}}</td>
										<td class="team-roster-table__age">{{age}}</td>
										<td class="team-roster-table__height">{{height}}</td>
										<td class="team-roster-table__weight">{{weight}}</td>
										<td class="team-roster-table__status {{#ifequal status 'Active'}}text-success{{else}}text-danger{{/ifequal}}">{{status}}</td>
										<td class="team-roster-table__college">{{college}}</td>
									</tr>
									{{/each}}

									<tr>
										<th colspan="8" class="team-roster-table__header">Special Teams</th>
									</tr>

									{{#each football.sp.team.roster-complete.special}}
									<tr>
										<td class="team-roster-table__number">{{number}}</td>
										<td class="team-roster-table__name">{{name}}</td>
										<td class="team-roster-table__position">{{position}}</td>
										<td class="team-roster-table__age">{{age}}</td>
										<td class="team-roster-table__height">{{height}}</td>
										<td class="team-roster-table__weight">{{weight}}</td>
										<td class="team-roster-table__status {{#ifequal status 'Active'}}text-success{{else}}text-danger{{/ifequal}}">{{status}}</td>
										<td class="team-roster-table__college">{{college}}</td>
									</tr>
									{{/each}}

									<tr>
										<th colspan="8" class="team-roster-table__header">Staff</th>
									</tr>

									{{#each football.sp.team.staff}}
									<tr>
										<td class="team-roster-table__number">{{number}}</td>
										<td class="team-roster-table__name">{{name}}</td>
										<td class="team-roster-table__position">{{position}}</td>
										<td class="team-roster-table__age">{{age}}</td>
										<td class="team-roster-table__height">-</td>
										<td class="team-roster-table__weight">-</td>
										<td class="team-roster-table__status">-</td>
										<td class="team-roster-table__college">{{college}}</td>
									</tr>
									{{/each}}

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- Team Roster: Table / End -->

			<!-- Featured Player -->
			<div class="col-lg-4">

				{{> _football_widget-player}}

				{{> _football_widget-roster-changelog}}

			</div>
			<!-- Featured Player / End -->
		</div>

	</div>
</div>

<!-- Content / End -->
